* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/* .clearfix::after { ヘッダーメニューで使うかも
    content: "";
    display: block;
    clear: both;
} */

header {
    margin-bottom: 100px;
    /* キービジュアルを背景に設定するとき用
    width: 100%;
    min-width: 1000px;
    height: 0;
    padding-top: calc(778 / 1280 * 100%);
    background : url(../img/food-on-white-ceramic-plate-near-cloth-1435903-resized.jpg) center center / cover no-repeat; */
}

.header-menu {
    background: rgba(233, 255, 231, 0.5);
    display: flex;
    justify-content: center;
    list-style: none;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
}

.header-menu li {
    margin: 10px 0 7px;
    font-size: 4rem;
    height: 50px;
    line-height: 45px; /* 垂直方向中央揃え */
}

.header-menu a {
    margin: 0 50px;
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.header-menu li+ li {
    border-left: 1px solid #555;
}

.keyvisual img {
    width: 100%;
}

main {
    width: 90%;
    min-width: 1000px;
    margin: auto;
}

/* ▼タイトル横棒▼ */
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading::before, 
.heading::after {
    border-top: 2px solid;
    content: "";
    width: 130em; /* 線の長さ */
    color: #252525;
}
.heading::before {
    margin-right: 10em; /* 文字の右隣 */
}
.heading::after {
    margin-left: 10em; /* 文字の左隣 */
}
/* ▲タイトル横棒▲ */

.blank{
    margin-bottom: 270px;
}

.heading h1 {
    top: 30px;
    left: 50%;
    font-size: 5rem;
    text-align: center;
    color: #252525;
}

.jaheading h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    color: #7a7a7a;
}

/* ▼ヘッダーメニューと被らないように▼ */
article {
    padding-top: 60px;
}

/* #concept::before {
    content: "";
    display: block;
    height: 8rem;
    margin-top: -8rem;
    visibility: hidden;
}
#menu::before {
    content: "";
    display: block;
    height: 8rem;
    margin-top: -8rem;
    visibility: hidden;
}
#feature::before {
    content: "";
    display: block;
    height: 8rem;
    margin-top: -8rem;
    visibility: hidden;
}
#access::before {
    content: "";
    display: block;
    height: 8rem;
    margin-top: -8rem;
    visibility: hidden;
} */
/* ▲ヘッダーメニューと被らないように▲ */

/* ▲ここまで全体的なやつ▲ */


.concept-flex {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.concept-flex img{
    margin-left: 5%;
    margin-right: 5%;
    width: 35%;
    min-width: 400px;
}

.concept-text {
    margin-right: 5%;
}

.concept h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
}

.concept p {
    font-size: 1.5rem;
    line-height: 5rem;
    margin-bottom: 25px;
}

/* ▼鍵カッコ▼ */
.concept-text {
    position: relative;
    padding:0.25em 1em;
}
.concept-text:before,.concept-text:after{ 
    content:'';
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.concept-text:before{
    border-left: solid 1px #fcba03;
    border-top: solid 1px #fcba03;
    top:0;
    left: -10px;
}
.concept-text:after{
    border-right: solid 1px #fcba03;
    border-bottom: solid 1px #fcba03;
    bottom:0;
    right: -10px;
}
.concept-text p {
    margin: 0; 
    padding: 0;
}
/* ▲鍵カッコ▲ */

.menu-flex {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.flex-reverse {
    flex-flow: row-reverse;
}

.food-menu h2 {
    font-size: 6rem;
    text-align: center;
}

.food-menu h2 i{ /* 位置微調整 */
    padding-right: 10px;
}

.food-menu p {
    font-size: 1.5rem;
}

.food-menu img {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.food-menu img:hover{
    opacity: 0.6;
    transition-duration: 0.3s;
}

.pizza-menu img {
    border-left: solid 3px #075200;
}

.pasta-menu img {
    border-right: solid 3px #d66100;
}

.wine-menu img {
    border-left: solid 3px #001f80;
}


.pizza-menu .menu-text, .wine-menu .menu-text {
    width: 60%;
    margin-right: 5%;
}

.pasta-menu .menu-text {
    width: 60%;
    margin-left: 5%;
}

.pizza-menu h2 {
    color: #075200;
}

.pasta-menu h2 {
    color: #d66100;
}

.wine-menu h2 {
    color: #001f80;
}

/* 廃案だけど一応とってある */
/* .menu-text h2 {
    position: relative;
    padding:0.25em 1em;
}
.menu-text h2::after {
    content: "";
    border-bottom: 1px solid #aaa;
    width: 200px;
    height: 0px;
    position: absolute;
    display: inline-block;
    bottom: 40px;
    left: 20px;
} */

/* ▼鍵カッコ▼ */
/* .menu-text {
    position: relative;
    padding:0.25em 1em;
}
.menu-text:before,.menu-text:after{ 
    content:'';
    width: 120px;
    height: 0px;
    position: absolute;
    display: inline-block;
}
.menu-text:before{
    border-left: solid 1px #aaa;
    border-top: solid 1px #aaa;
    top:30px;
    left: auto;
}
.menu-text:after{
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    bottom: -35px;
    right: auto;
}
.menu-text p {
    margin: 0;
    padding: 0;
} */
/* ▲鍵カッコ▲ */

.feature-flex {
    display: flex;
    justify-content: center;
}

.feature-flex a {
    margin: 0 3%;
    width: 25%;
}

.feature-flex img {
    width: 100%;
}

.feature-flex a:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
}

.access-flex {
    display: flex;
    justify-content: center;
}

.access-text {
    margin: 1% 5%;
}

.access-text p {
    font-size: 1.7rem;
}

.access-text span {
    font-size: 1.7rem;
    color: #007300;
}

.access-text a {
    font-size: 1.7rem;
    color: #0033cc;
}

/* フッター */
footer {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon img {
    width: 40px;
}

footer a {
    margin: 30px;
}

footer p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}
